<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>osu! pp rebalance calculator</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    </head>
    <body>
        <center><h1 class="title">osu! pp rebalance calculator</h1></center>
        <form action="/pp" method="GET">
            <center>
                <p>
                    <input type="text" class="input is-primary" name="user">
                    <input type="submit" class="button is-primary" value="Calculate">
                </p>
            </center>
        </form>
    </body>
</html>
