<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>osu! pp rebalance calculator</title>
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css">
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
        <script src="/static/home.js"></script>
    </head>
    <body>
        <section class="hero is-fullheight">
            <div class="hero-body">
                <div class="container has-text-centered">
                    <div class="column is-6 is-offset-3">
                        <h1 class="title">osu! pp rebalance calculator</h1>
                        <div class="box">
                            <form onsubmit="return onFormSubmit()">
                            <div class="field is-grouped">
                                <p class="control is-expanded">
                                    <input class="input" type="text" id="user" name="user" placeholder="user id (preferred) or user name...">
                                </p>

                                <p class="control">
                                    <button type="submit" id="button" class="button is-info">Calculate</button>
                                </p>
                            </div>
                            </form>
                        </div>
                        <h2 class="subtitle">if your name contains special characters ([-]/, etc), please use your id</h2>
                        <h2 class="subtitle">eg. osu.ppy.sh/users/1234567, input only the number</h2>
                    </div>
                </div>
            </div>
        </section>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    </body>
</html>
