<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>osu! pp rebalance calculator</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    </head>
    <body>
        <center><h1 class="title">Results</h1></center>
        <textarea class="textarea">{{results}}</textarea>
    </body>
</html>
